<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <test name="MyTest">
        <classes>
            <class name="ViewProfileInfo" />
            <class name="InvalidViewInfoWithNoAuth"/>
            <class name="GettingUserTopTrack"/>
            <class name="FollowingArtist"/>
            <class name="GetFollowedArtists"/>
            <class name="UnfollowArtist"/>
            <class name="CheckIfArtistIsUnfollowed"/>
            <class name="CheckIfUserFollowsCertainArtist"/>
            <class name="CheckIfUserFollowsCertainArtistInvalid"/>

            <!-- Add more classes as needed -->
        </classes>
    </test>
</suite>